<template name="definitionItem">
  <!-- <div className="definition"> -->
    <!-- <div className="definition-content"> -->
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">
      {{name}}
    </h4>
    <p class="list-group-item-text">{{text}}</p>
  </a>


<!-- 
      <h4><a href="{{url}}">{{name}}</a></h4>
      <span>{{text}}</span> 
-->



    <!-- </div> -->
  <!-- </div> -->
</template>



<!-- <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div> -->